
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodyHome{
    font-family: Oswald, sans-serif;
    background-image: url(/src/assets/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    opacity: 95%;
}

#bodyContato{
    font-family: Oswald, sans-serif;
    background-image: url(../assets/fundoContato.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#bodyCardapio{
    font-family: Oswald, sans-serif;
    background-color: #3d3d3d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.logo{
    width: 400px;
    height: 400px;
}
ul {
    list-style: none;
    display: flex;
    justify-content:space-around ;
}

li {
    margin: 0 15px;
}
#inicio{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: grey;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 99%;
    transition: opacity 4s ease-in-out;
}
#titulo{
    background-image: linear-gradient(to right,black,rgb(0, 0, 0));
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation:efeito 2s ease-in-out ;
}

#texto{
    font-size: 2rem;
    animation: efeito 4s ease-in-out;
    opacity: 99%;
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes efeito {
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

.inicio{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


header nav ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
header nav ul li a{
    text-decoration: none;
    color:#f3f3f3;
    font-weight: 1000;
    font-family: Oswald, sans-serif;
    font-size: 20px;
}
header nav ul li a:hover{
    color:rgb(39, 32, 32);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerDemaisPaginas{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 210px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Isso faz ele ficar sempre no final, sem sobrepor */
    z-index: 1; /* Garante que não vai sobrepor conteúdo */
}

.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    color: #f1f1f1;
}


.footer-content h3{
    margin-bottom: 10px; 
    margin-top: 100px;
}

.footer-content ul{
    list-style: none;
    padding: 0;
    
}

.footer-content li{
    margin-bottom: 5px;
}

.footer-content a{
    color:#f5f5f5;
    text-decoration: none;
}

.footer-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  
}
.redesSociais ul{
    display: flex;
    text-align: center;
}

.redesSociais{
    text-align: center;
}
#cabecalhoDemaisPaginas nav ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgba(255, 5, 5, 0.767);
}
 #cabecalhoDemaisPaginas nav ul li a{
    text-decoration: none;
    color:#f3f3f3;
    font-weight: 1000;
    font-family: Oswald, sans-serif;
    font-size: 20px;
}
#cabecalhoDemaisPaginas nav ul li a:hover{
    color:rgb(197, 197, 197);
}
 #container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.contato {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 100px;
}

.form article.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    font-family: Oswald, sans-serif;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #24ac17;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fa1404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #aa0101;
}

#tituloContato{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #fdfdfd;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    padding-top: 100px;
    font-family: Oswald, sans-serif;
    
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.menu {
  background-color: #e5973c;
  padding: 20px;
  text-align: center;
}

.menu a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  font-family: Oswald, sans-serif;
  background-image: url(../assets/fotoSobreNos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: none;
  height: 100vh;
  margin: 0;
}

.conteudo h1 {
  font-size: 32px;
  color: #e9e9e9;
  margin: 150px;
  background-color: rgba(0, 0, 0, 0.5)
  
}

#conteudo{
    display: grid; /*TRANSFORMA UM ELEMENTO EM UM CONTAINER DE GRADE, ORGANIZADO OS ELEMENTOS EM LINHAS E COLUNAS*/
    grid-template-columns: 1fr 200px; /*DIVIDE EM UMA COLUNA  COM 1 FRAÇÃO DE LARGURA E 200px de ALTURA*/
    gap:20px; /*ESPAÇAMENTO ENTRE OS ELEMENTOS DE 20PX*/
    
}

/*ELEMENTO MAIN*/
main{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    flex-wrap: wrap; /*PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
    justify-content: center; /*JUSTIFICA O CONTEUDO AO CENTRO*/

}
/*CLASS PRODUTO*/
.produto{
    width: 200px;/*LARGURA de 200px*/
    height: 500px; /*ALTURA de 400px*/
    margin: 20px;/*MARGEM EM TODOS OS LADOS DE 20px*/
    padding: 20px;/*ESPAÇAMENTO INTERNO EM TODOS OS LADOS DE 20px*/
    border: 1px solid #ddd;/*CRIA UMA BORDA COM 1px de ESPESSURA COM A COR CINZA*/
    background-image: linear-gradient(#000000,#000000,#000000);/*FAZ UM DEGRADE NO FUNDO DO CARD*/
    color:#fff;/*COR DA FONTE*/
    border-radius: 20px;/* DEIXA O CARD COM AS BORDAS ARRENDODAS*/
}
/*CLASS PRODUTO E ELEMENTO IMG*/
.produto img{
    max-width: 100%;/* MAXIMO DE LARGURA DA IMAGEM*/
    height: 200px;/* ALTURA AUTOMATICA, MAS PODE COLOCAR EM PX EX: 400px*/
    width: 200px;
    margin-bottom: 10px;/*MARGEM INFERIOR DE 10PX*/
}
/*CLASS PRECO*/
.preco{
    font-weight: 700;/*DEIXAR O TEXTO EM NEGRITO*/
    margin-top: 50px;/*ESPAÇO SUPERIOR DE 50PX*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
    font-size: 1.7rem;/*TAMANHO DA FONTE DE 1.7 -Rem é uma unidade de medida relativa em CSS que se baseia no tamanho da fonte do elemento raiz da  página */
}
/*ELEMENTO BUTTON*/
#buttonCardapio{
    background: rgb(255, 0, 0);/*COR DO FUNDO*/
    margin-top: 30px;/*MARGEM SUPERIOR DE 30px*/
    padding: 15px 45px;/*ESPAÇAMENTO DE 15PX (SUPERIOR e INFERIOR) E 45px ( DIREITA e ESQUERDA)*/
    border-radius: 20px;/*DEIXA OS CANTOS DAS BORDAS ARRENDODAS*/
    cursor: pointer;/*AO COLOCAR O MOUSE EM CIMA DO BOTÃO VIRA UMA MÃOZINHA*/
}

/*ELEMENTO BOTTOM COM EFEITO*/
#buttonCardapio:hover{
    background: #940000;/*COR DO FUNDO*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
}

#cardapio {
    text-align: center;
    margin-bottom: 40px;
}

#cardapio h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}