@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: grid; grid-template-rows: 1fr auto;
}

#bodyHome{
    font-family: "Share Tech", sans-serif;
    background-image: url(/src/assets/fundo.png);
    background-size: 130%;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    opacity: 100%;
}

#bodyContato{
    font-family: Oswald, sans-serif;
    background-image: url(../assets/fundoContato.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#bodyCardapio{
    font-family: Oswald, sans-serif;
    background-image: url(/src/assets/fundocardapio.png);
    background-color: #000;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
#bodySobre{
    font-family: Oswald, sans-serif;
    background-image: url(/src/assets/fotoSobre.jpg);
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

}
ul {
    list-style: none;
    display: flex;
    justify-content:space-around ;
}

li {
    margin: 0 15px;
}
#inicio{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    transition: opacity 10s ease-in-out;
    animation: fadeOut 10s ease-out forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#titulo{
    background-image: linear-gradient(to right,#fff,#fff);
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation:efeito 50ms ease-in-out ;
    animation: fadeOut 50s ease-out forwards;
    z-index: 1;
}
@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    visibility: hidden;
}
}

#texto{
    font-size: 2rem;
    animation: efeito 4s ease-in-out;
    opacity: 99%;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(255, 255, 255));
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: fadeOut 10s ease-out forwards;
    z-index: 1;
}

@keyframes efeito {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
}
}

.inicio{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.logo{
    height: 80px;
    width: 80px;
    justify-content: center;

}
header nav ul{
    list-style: none;
    gap:150px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1c1e35; 
    z-index: -1;
    opacity: 85%;
}
header nav ul li a{
    text-decoration: none;
    text-shadow: 1px 4px 4px rgb(0, 0, 0);
    color: #ffffff ;
    font-weight: 1000;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
}
header nav ul li a:hover{
    color:rgb(158, 148, 253);

}
footer{
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #1c1e35;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2; 
    opacity: 85%;
}

.footer-content{
    background-color: #1c1e35;
    display: flex;

}

.footer-content ul{
    list-style: none;
    padding: 0;
    
}

.footer-content li{
    margin-bottom: 5px;
}

.footer-content a{
    color:#f5f5f5;
    text-decoration: none;
}

.footer-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  
}
.redesSociais ul{
    display: flex;
    text-align: center;
    text-shadow: 1px 1px 4px #000;
}

.redesSociais{
    text-align: center;
    text-shadow: 1px 1px 4px #000;
}

 #container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.contato {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-color: #131313;
    margin: 0 auto;
    margin-bottom: 100px;
}

.form article.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    font-family: Oswald, sans-serif;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    background-color: #3f4374;
}

input:focus, textarea:focus {
    border-color: #194ba8;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1c1e35;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c1e35;
}

#tituloContato{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    padding-top: 100px;
    outline: #1c1e35;
    font-family: "Share Tech", sans-serif;
    
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.menu {
  background-color: #e5973c;
  padding: 20px;
  text-align: center;
}

.menu a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  font-family: Oswald, sans-serif;
  background-image: url(../assets/fotoSobreNos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: none;
  height: 100vh;
  margin: 0;
}

.conteudo h1 {
  text-decoration: none;
  text-shadow: 1px 1px 4px #D4AF37;
  font-family: "Share Tech", sans-serif;
  font-size: 50px;
  color: black;
  margin: 150px;
  background-color: #FAF3E0;
  border-radius: 15px;
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {

    from{ 
        opacity: 0; transform: translateY(20px); 
}
    to { 
        opacity: 1; transform: translateY(0);
}
}
  
#conteudo{
    display: grid; /*TRANSFORMA UM ELEMENTO EM UM CONTAINER DE GRADE, ORGANIZADO OS ELEMENTOS EM LINHAS E COLUNAS*/
    grid-template-columns: 300px 300px; /*DIVIDE EM UMA COLUNA  COM 1 FRAÇÃO DE LARGURA E 200px de ALTURA*/
    gap:60px; /*ESPAÇAMENTO ENTRE OS ELEMENTOS DE 20PX*/
    
}

/*ELEMENTO MAIN*/
main{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    flex-wrap: wrap; /*PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
    justify-content: center; /*JUSTIFICA O CONTEUDO AO CENTRO*/

}
/*CLASS PRODUTO*/
.produto{
    align-items: center;
    width: 250px;/*LARGURA de 200px*/
    height: 470px; /*ALTURA de 400px*/
    margin: 20px;/*MARGEM EM TODOS OS LADOS DE 20px*/
    padding: 0px;/*ESPAÇAMENTO INTERNO EM TODOS OS LADOS DE 20px*/
    border: 2px solid #1c1e35;/*CRIA UMA BORDA COM 1px de ESPESSURA COM A COR CINZA*/
    background-color: #080808;/*FAZ UM DEGRADE NO FUNDO DO CARD*/
    color:#fff;/*COR DA FONTE*/
    border-radius: 0px;/* DEIXA O CARD COM AS BORDAS ARRENDODAS*/
    animation: gridAnimation;
    animation-timeline: view(70% 5%);
}

@keyframes gridAnimation {
    from{
        opacity: 0;
        scale: .7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/*CLASS PRODUTO E ELEMENTO IMG*/
.produto img{
    max-width: 100%;/* MAXIMO DE LARGURA DA IMAGEM*/
    height: 180px;/* ALTURA AUTOMATICA, MAS PODE COLOCAR EM PX EX: 400px*/
    width: 180px;
    margin-bottom: 10px;/*MARGEM INFERIOR DE 10PX*/
    margin-top: 20px;
    animation: gridAnimation;
    animation-timeline: view(70% 5%);
}

@keyframes gridAnimation {
    from{
        opacity: 0;
        scale: .7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/*CLASS PRECO*/
.preco{
    font-weight: 700;/*DEIXAR O TEXTO EM NEGRITO*/
    margin-top: 50px;/*ESPAÇO SUPERIOR DE 50PX*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
    font-size: 1.7rem;/*TAMANHO DA FONTE DE 1.7 -Rem é uma unidade de medida relativa em CSS que se baseia no tamanho da fonte do elemento raiz da  página */
}
/*ELEMENTO BUTTON*/
#buttonCardapio{
    font-size: 15px;
        font-weight: 700;/*DEIXAR O TEXTO EM NEGRITO*/
    background: #1c1e35;/*COR DO FUNDO*/
    margin-top: 60px;/*MARGEM SUPERIOR DE 30px*/
    padding: 15px;/*ESPAÇAMENTO DE 15PX (SUPERIOR e INFERIOR) E 45px ( DIREITA e ESQUERDA)*/
    border-radius: 0px;/*DEIXA OS CANTOS DAS BORDAS ARRENDODAS*/
    cursor: pointer;/*AO COLOCAR O MOUSE EM CIMA DO BOTÃO VIRA UMA MÃOZINHA*/
    letter-spacing: 3px;
}

/*ELEMENTO BOTTOM COM EFEITO*/
#buttonCardapio:hover{
    background: #525dc4;/*COR DO FUNDO*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
}

#cardapio{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Share Tech", sans-serif;
}

#cardapio h1 {
    font-size: 4.5rem;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #ffffff;
    font-family: "Share Tech", sans-serif;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    letter-spacing: 35px;
}
#cardapio h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 3px;
    color: #ffffff;
    font-family: "Share Tech", sans-serif;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    letter-spacing: 4px;
}
main{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 80px;
    min-height: 80vh;
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

main h2{
    font-size: 3.5rem;
}

.txt h2 span{
    background: #181f3b;
    border-radius: 5px;
}

main h4 {
    font-size: 2rem;
    text-shadow: #000000;
}

.txt2{
    margin-top: 20px;
}

.txt2 p span{
    background: #181f3b;
    border-radius: 5px;
}

main2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: #ffffff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

main2 h2{
    font-size: 3.5rem;
}

.txtSobre h2 span{
    background: #181f3b;
    border-radius: 5px;
}

main2 h4 {
    font-size: 2rem;
    text-shadow: #000000;
}
.txt2Sobre p span{
    background: #181f3b;
    border-radius: 5px;
}
.titulocontato h2 span{
    background: #181f3b;
    border-radius: 10px;
}

.direitos{
    color: white;
}